h1{
  text-align: center;
	height:80px;
	align-content: center;
	margin-bottom:0px;
	border: solid;
	background-color: pink;
}
.table1{
	text-align: center;
	width: 1500px;
	height:300px;
	font-size: 20px;
}
.pre{
	text-align: center;
	align-content: center;
	font-style:italic;
	font-size:20px;
}
