.card1{
	background-color: hotpink;
	width:200px;
	height:250px;
	border: solid;
	border-radius:20px;
	text-align: center;
	align-content: center;
}
.card2{
	background-color: blueviolet;
	width:180px;
	height:100px;
	border: solid;
	border-radius:30px;
	text-align: center;
	align-content: center;
	border-width:5px;
	margin: 5px;
}
.card3{
	background-color: deepskyblue;
	width:180px; 
	height:100px;
	border: solid;	
	margin: 5px;
	border-radius:20px;
	text-align: center;
	align-content: center;
	border-width: 5px;
}
table{
	align-content: center;
	text-align: center;
}
